.hero {
  height: 125vh;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;

  @media screen and (max-width: 630px) {
    padding-top: 3rem;
  }

  &::before {
    content: '';
    position: absolute;
    height: 125vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background: rgba(0, 0, 0, .85);
    padding-top: 3rem;
  }

  .hero-container {
    z-index: 6;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .centered-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: 92px;
        font-weight: bold;
        text-align: center;
        color: white;

        @media screen and (max-width: 600px) {
          font-size: 72px;
        }

        span {
          color: $primary;
        }
      }

      p {
        font-size: 18px;
        margin-top: 1rem;
        color: #45494b;
        padding: .5rem 1rem;
        text-align: center;
      }

      button {
        margin-top: 3rem;
      }
    }

    .hero-description {
      color: white;
      font-size: 18px;
    }
  }

  .city-slider {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: calc(-435px / 2);
    z-index: 6;
    overflow: auto;


    @media screen and (max-width: 700px) {
      height: 300px;
    }

    .previous {
      margin: 0 1rem 0 -5rem;
      justify-content: flex-start;

      .next {
        display: none;
      }
    }

    .next {
      margin: 0 -5rem 0 1rem;
      justify-content: flex-end;

      .previous {
        display: none;
      }
    }

    .city-image {
      height: 100%;
      width: 100%;
      min-width: 360px;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;

      @media screen and (max-width: 600px) {
        min-width: 250px;
      }

      .credit {
        display: none;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(black, .8);
      }

      &:hover {
        .arrow-icon {
          opacity: 1;
          transition: opacity 300ms ease-in, transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        .next {
          transform: translateX(-270px);
        }

        .previous {
          transform: translateX(270px);
        }
      }

      .arrow-icon {
        z-index: 3;
        max-width: 70px;
        color: white;
        opacity: 0;
      }

      .hover-state {
        display: none;
      }

      .normal-state {
        display: none;
      }
    }

    .city-image-active {
      height: 100%;
      width: 100%;
      min-width: 360px;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;

      @media screen and (max-width: 700px) {
        min-width: 250px;
      }

      .arrow-icon {
        display: none;
      }

      .credit {
        z-index: 3;
        padding: .4rem;
        border-radius: 2px;
        font-size: 10px;
        position: absolute;
        top: .5rem;
        right: .5rem;
        background: rgba(0, 0, 0, .7);
        color: white;

        a {
          color: $secondary;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(transparent, #040404);
        transition: opacity 300ms ease-in;
        opacity: 1;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: black;
        opacity: 0;
        transition: opacity 300ms ease-in;
      }

      &:hover {
        justify-content: center;

        &::before {
          opacity: .7;
        }

        &::after {
          opacity: 0;
        }

        .normal-state {
          display: none;
        }

        .hover-state {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .hover-state {
        z-index: 3;
        transition: opacity 300ms ease-in;
        display: none;
        color: white;

        .city-title {
          font-size: 40px;
          font-weight: bold;
          margin-bottom: .3rem;
        }

        .city-subtitle {
          font-size: 14px;
        }

       button {
         position: absolute;
         bottom: 3rem;
       }
      }

      .normal-state {
        transition: opacity 300ms ease-in;
        margin-bottom: 3rem;
        z-index: 3;
        display: block;

        .city-description {
          color: white;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          height: 100%;

          .city-title {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: .3rem;
          }

          .city-subtitle {
            font-size: 14px;
            color: $secondary;
          }
        }
      }

    }
  }
}