@import "reset";
@import "colors";
@import "navbar";
@import "hero";
@import "search";
@import "explore";
@import "footer";
@import "copyright";

* {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  border: none;
  border-radius: 999px;
  padding: .8rem 1.5rem;
  background-color: $secondary;
  color: $darker-secondary;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}